@orange: #f08f00;
@greyLine: #e4e4e4;
@dark: #29383c;
@green: #64a816;
@greyText: #747474;

// AppContainer
@import '../containers/AppContainer/styles.less';

// NavigationBar
@import '../components/NavigationBar/styles.less';

// FilterContainer
@import '../containers/FilterContainer/styles.less';

// InvestmentCardContainer
@import '../containers/InvestmentCardContainer/styles.less';

// InvestmentCard
@import '../components/InvestmentCard/styles.less';

// ProgressBar
@import '../components/ProgressBar/styles.less';

// Footer
@import '../components/Footer/styles.less';